{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">ご利用方法</h1>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h4">お出かけスポット検索</h2>
            <p>お出かけスポット検索の一覧で愛犬と一緒に行けるスポットを見つけることができます。カテゴリや都道府県で絞り込むことで、あなたと愛犬の目的に適したスポットを見つけることもできます。</p>
            
            <h2 class="h4 mt-4">スポットの投稿</h2>
            <p>スポット情報を投稿して、他のユーザーと共有しましょう。ログイン後、お出かけスポット情報を入力して、簡単に投稿できます。</p>
            
            <h2 class="h4 mt-4">スポットの編集・削除</h2>
            <p>あなたが投稿したお出かけスポット情報を編集または削除する場合は、お出かけスポットの一覧から対象のお出かけスポットを選択してください。お出かけスポットの一覧ページから編集や削除を行うことはできません。また、あなた以外が投稿した情報を編集・削除することはできません。

            <h2 class="h4 mt-4">全体マップの使用</h2>
            <p>今後、登録されたお出かけスポットをまとめた全体マップの公開を予定しています。全体マップを使用すると、視覚的におでかけスポットを確認できるようになります。</p>
            </p>
        </div>
    </div>

    <div class="text-center mt-5">
        <a href='{% url "pawmap:index" %}' class="btn btn-outline-primary">一覧に戻る</a>
    </div>
</div>
{% endblock %}
